<html lang="en" ng-app="babysFirst"> <!-- Declare angular app with "ng" -->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Baby's first Angular</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div ng-controller="babysFirstController"> <!-- Start controller -->
      <nav>
        <h1 class="brand">Baby's First Angualr.js</h1>
        <form>
          <input type="text" placeholder="text search" ng-model="search">
        </form>
        <!-- Sort by param -->
        <span class="sort-by">Sort by
					<select ng-model="sort" ng-init="sort=votes">
						<option value="votes">Votes</option>
						<option value="date">Date</option>
						<option value="title">Title</option>
					</select>
				</span>
      </nav>
      <!-- add a post -->
   		<div class="new-post">
   			<form novalidate class="new-post" name="postData" ng-submit="addPost(postData)">
   				<label for="title">Title:</label>
   				<input type="text" id="title" ng-model="postData.title" ng-minlength="4" required>
   				<label for="author">Author:</label>
   				<input type="text" id="author" ng-model="postData.author"ng-minlength="3" required>
   				<label for="image">Image URL:</label>
   				<input type="url" id="image" ng-model="postData.image" ng-minlength="10" required>
   				<label for="body">Description:</label>
   				<input type="text" id="body" ng-model="postData.body" required ng-maxlength="255">
   				<button ng-disabled="postData.$invalid">Submit</button>
   			</form>
   		</div>
      <div>
        <ul ng-repeat="post in posts | orderBy:sort | filter:search">
          <li>
            <div class='post'>
              <div class='post-image'>
                <img src="{{post.image}}">
              </div>
              <!-- Post content -->
              <div class='post-content'>
                <h1>{{post.title}}</h1>
                <h2>{{post.author}}</h2>
                <p>{{post.description}}</p>
                <p>Votes: {{post.votes}}</p>
              </div>
              <!-- Update post attributes -->
              <div class='post-interactive-elements'>
                <button class="upVote btn" ng-click="post.votes = post.votes + 1">Up Vote</button>
                <button class="downVote btn" ng-click="post.votes = post.votes - 1">Down Vote</button>
              </div>
              <!-- show comments.length -->
              <div class="comment-container">
 								<ng-pluralize count="post.comments.length" when="{'0': 'No comments', 'other': '{{post.comments.length}} comments'}"></ng-pluralize>
   							<span ng-model="newcomment" ng-init="!comment" ng-click="comment = !comment">Add Comment</span>
   						</div>
              <!-- New comment form -->
   						<div ng-hide="!comment">
   							<form name="newComment" ng-submit="post.comments.push(newComment); newComment = {}; comments = true; comment = false;" novalidate>
   								<label for="name">Name:</label>
   								<input id="name" type="text" ng-model="newComment.author" ng-minlength="3" required>
   								<label for="comment">Comment:</label>
   								<input id="comment" type="text" ng-model="newComment.comment" ng-maxlength="140" required>
   								<button ng-disabled="newComment.$invalid">Submit</button>
   							</form>
   						</div>
              <!-- Individual comments -->
   						<div ng-hide="!comment">
   							<ul ng-repeat="comment in post.comments">
   								<li>
   									<h2>{{comment.author}}</h2>
   									<p>{{comment.comment}}</p>
   								</li>
   							</ul>
   						</div>
            <div>
          </li>
        </ul>
      </div>
    </div> <!-- end controller -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.js"></script>
    <script src="app.js" charset="utf-8"></script>
  </body>
</html>
